.card {
  width: 350px;
  height: 300px;
  transition: 0.2s ease-in-out;
  padding: 10px;
  background: rgba(66, 66, 66, 0.2);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 10px;
  img {
    width: 330px;
    height: 200px;
    border-radius: 5px;
  }
  .cardDescription {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: start;
    h1 {
      font-size: 1.5em;
      font-weight: 400;
      color: #ddd;
    }
  }
}
.card:hover {
  scale: 1.03;
}

@media screen and (max-width: 768px) {
  .card {
    margin-bottom: 20px;
  }
}
