.projects {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--page-title);
    text-align: center;
    display: flex;
    flex-direction: column;
    main {
        width: 80%;
        height: 100vh;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        .projectPanel{
            width: 60%;
            text-align: start;
            background-color: var(--transparent-white);
            :nth-child(1){
                color: white;
                display: flex;
                flex-direction: column;
                font-size: 1.3rem;
                margin: 2px 0px;
                .panelContent {
                    display: flex;
                    flex-direction: row;
                    img{
                        width: 280px;
                        height: 200px;
                    }
                    .panelInfo{
                        padding: 1em;
                    }
                    .stacks{
                        align-self: flex-start;
                        color: rgba($color: #fff, $alpha: 0.5);
                        font-size: .8rem;
                        margin: 15px 0px;
                    }
                    p {
                        font-size: 1.2rem;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }
                }
            }
            
        }
    }
}
