.contact {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--page-title);
    text-align: center;
    display: flex;
    flex-direction: column;

    main {
        width: 80%;
        height: 100vh;
        align-self: center;
        display: flex;
        align-items: center;
        justify-content: center;

        div {
            width: 90%;
            height: 90%;
            border-radius: 40px;
        }

        h1 {
            font-size: 3rem;
            padding-top: .5rem;
        }
        .contactForm {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 20px;

            input {
                width: 60%;
                height: 40px;
                margin: 1em;
                padding: 5px;
                padding-left: 15px;
                border-radius: 10px;
                border: none;
                background-color: var(--transparent-white);
                transition: .2s ease;
                color: white;
                font-size: 1rem;
            }
            
            input:focus {
                outline-style: none;
                outline: 2.5px solid var(--purple-main);
            }

            textarea {
                width: 60%;
                height: 100px;
                margin: 1em;
                padding: 15px;
                padding-left: 15px;
                border-radius: 10px;
                border: none;
                background-color: var(--transparent-white);
                transition: .2s ease;
                color: white;
                font-size: 1rem;
            }
            textarea:focus {
                outline-style: none;
                outline: 2.5px solid var(--purple-main);
            }

            button {
                margin: 1em;
                padding: 10px;
                width: 15%;
                background-color: var(--purple-main);
                color: #fff;
                font-size: 1.2rem;
                border: none;
                border-radius: 10px;
                cursor: pointer;
                transition: .2s ease-in-out;
            }

            button:hover {
                opacity: .8;
            }
        }

        .iconNav a {
            color: rgba($color: #fff, $alpha: .5);
            transition: .2s ease-in-out;
            margin: 1em;
        }

        .linkIcon:hover {
            color: rgb(75, 152, 240);
        }
        .instaIcon:hover{
            color: rgb(197, 56, 110);
        }
    }
}

@media only screen and (max-width: 450px) {
    h1 {
        padding: .1em !important;
    }
    .contactForm {
        input {
            width: 90% !important;
        }

        textarea {
            width: 90% !important;
        }

        button {
            width: 35% !important;
        }
  }
}